version: '3'
volumes:
  confd:
    driver: local
  vhostd:
    driver: local
  htdocs:
    driver: local
  certs:
    driver: local
services:
  officer:
    image: funkyfuture/deck-chores
    restart: unless-stopped
    environment:
      TIMEZONE: America/Denver
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  lb:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - confd:/etc/nginx/conf.d:ro
      - vhostd:/etc/nginx/vhost.d:ro
      - htdocs:/usr/share/nginx/html:ro
      - certs:/etc/nginx/certs:ro
    labels: 
      'com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy': 'true'
  lb-gen:
    image: heropunch/lb-gen
    restart: always
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - certs:/etc/nginx/certs:ro
      - confd:/etc/nginx/conf.d
      - vhostd:/etc/nginx/vhost.d
      - htdocs:/usr/share/nginx/html
    command: '-notify-sighup=nacip_lb_1 -watch -wait=5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf'
  lb-le:
    image: 0xj9/lets-encypt-sidecar
    restart: always
    environment:
      NGINX_DOCKER_GEN_CONTAINER: nacip_lb-gen_1
    volumes:
      - confd:/etc/nginx/conf.d
      - vhostd:/etc/nginx/vhost.d
      - htdocs:/usr/share/nginx/html
      - certs:/etc/nginx/certs
      - /var/run/docker.sock:/var/run/docker.sock
    