.App {
  text-align: center;
  min-height: calc(100vh - 75px)
}

// COLORS
$orange: #d35400;
$lightGray: #eaeaea;
$mediumGrey: #c5c5c5;
$turquoise: #1abc9c;
$purple: #8e44ad;
$yellow: #f1c40f;

@mixin customCheckbox($borderRadius, $color) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #fff;
    color: #666;
    height: 30px;
    width: 30px;
    border: 1px solid $mediumGrey;
    border-radius: $borderRadius;
    cursor: pointer;     
    margin-right: 7px;
    outline: none;

    &:checked {
        background-color: $color;
        transition: 150ms background-color ease-in;

        &:before {
            position: absolute;
            font-size: 1.5em;
            left: 10px;
            top: 2px;
            content: '\02143';
            transform: rotate(40deg);
            color: white;
        }
    }

    &:hover {
        background-color: lighten($color, 10%);
        cursor: pointer;
    }
}

@mixin box-shadow {
    -webkit-box-shadow: 3px 2px 10px -1px rgba(158,158,158,0.76);
    -moz-box-shadow: 3px 2px 10px -1px rgba(158,158,158,0.76);
    box-shadow: 3px 2px 10px -1px rgba(158,158,158,0.76);
}

.successContent {
    p {
        font-size: 1.25em;
        display: block;
        font-weight: 600;
    }
}
/* HEADER */

header {
    &.homePageHeader {
        margin: 2em;
    }

    &.minimalHeader {
        display: flex;
        padding: 0 1em;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $lightGray;
    }
}

// FOOTER
footer {
    height: 75px;
    text-align: center;
    background-color: $lightGray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2em;
    
    svg {
        font-size: 2em !important;
        margin: 0 .25em;
        color: $orange;
        transition: 200ms all ease;
        
        &:hover {
            color: lighten($orange, 10%);
            cursor: pointer;
            -ms-transform: translate(0, -5px); /* IE 9 */
            -webkit-transform: translate(0, -5px); /* Safari */
            transform: translate(0, -5px);
        }
    }

    .hashtags {
        span {
            font-size: .75em;
            margin-right: 1em;
        }
    }
}

/* NAV */
nav {
    margin: 1em;
    a {
        text-decoration: none;
        padding: 1em;
        text-transform: uppercase;
        color: black;
        transition: 150ms background-color ease-in;
        
        &:hover {
            background-color: $lightGray;
        }

        &.active {
            color: $turquoise;
            font-weight: bold;
            border-bottom: 2px solid $turquoise;
        }
    }
}

/* PAGES */
/* -- VENDORS */
#vendors {
    margin: 0 10%;
    
    table {
        border-collapse: collapse;
        border: 1px solid $lightGray;
        width: 100%;
        
        col.active {
            border: 1px solid black;
        }
        
        tr {
            &:nth-child(even) {
                background-color: $lightGray;
            }
            
            $activeColumnBorder: 3px solid $orange;
            
            th.early.active,
            th.regular.active,
            th.late.active {
                border-top: $activeColumnBorder;
                border-right: $activeColumnBorder;
                border-left: $activeColumnBorder;
            }
            
            td.early.active,
            td.regular.active,
            td.late.active {
                border-right: $activeColumnBorder;
                border-left: $activeColumnBorder;
            }
            
            &:last-child {
                td.early.active,
                td.regular.active,
                td.late.active {
                    border-bottom: $activeColumnBorder;
                }
            }
            
            th, td {
                padding: .5em;
                text-align: left;
            }
            
            th {
                background-color: $turquoise;
                &.vendorType {
                    background-color: darken($turquoise, 5%);
                }
            }
        }
        
    }
    
    .becomeAVendor {
        background-color: $purple;
        color: white;
        text-transform: uppercase;
        border: none;
        padding: 1em 3em;
        font-size: 1em;
        transition: 150ms background-color ease-in;
        margin-top: 2em;
        
        &:hover {
            background-color: darken($purple, 10%);
            cursor: pointer;
        }
    }
    
    form {
        margin-top: 3em;
        padding: 2em;
        text-align: left;
        @include box-shadow();
        border: 1px solid $lightGray;
        
        h3 {
            text-align: center;
            margin-bottom: 2em;
        }
        
        hr {
            border: none;
            border-top: solid 1px $lightGray;
        }
        
        label {
            display: block;
            margin: 1em 0;
        }
        
        
        .vendorType {
            p {
                font-weight: 600;
            }
            input {
                margin-right: 1em;
                @include customCheckbox(50px, $orange);
            }
            label {
                display: flex;
                align-items: center;
                margin: .5em 0;
                padding: .5em;
                
                &:hover {
                    cursor: pointer;
                }
            }
        }
        
        .contactInformation {
            margin-top: 2em;
            
            p {
                font-weight: 600;
            }
            
            input {
                padding: 1em;
                display: block;
                width: 100%;
                margin-top: .5em;
                box-sizing: border-box;
                
                &:focus {
                    outline: 2px solid $purple;
                }
            }
            label span {
                text-transform: uppercase;
                font-size: 65%;
            }
        }
        
        .termsAndConditions {
            margin-top: 2em;
            
            input{
                @include customCheckbox(0px, $yellow);
                margin-right: 1em;
            }
            label {
                display: flex;
                align-items: center;
                
                &:hover {
                    cursor: pointer;
                }
            }
        }
        
        
    }
    
    button {
        padding: 1em;
        text-transform: uppercase;
        border: none;
        color: white;
        font-size: 1em;
        margin: 0 auto;
        margin-top: 2em;
        font-weight: bold;
        transition: 150ms background-color ease-in;

        &:not(.disabled):hover {
            cursor: pointer;
        }
    }

    button.cancel {
        background-color: $orange;
        margin-left: 2em;

        &:not(.disabled):hover {
            background-color: darken($orange, 10%);
        }
    }

    button.submit {
        background-color: $turquoise;
        
        &:not(.disabled):hover {
            background-color: darken($turquoise, 10%);
        }
        
        &.disabled {
            background-color: $lightGray;
        }
    }
    
    // Become A Vendor Button Animation
    .becomeAVendorButton-enter {
        opacity: 1;
        height: 3.5em;
    }
    
    .becomeAVendorButton-enter-active {
        transition: opacity 500ms;
        height: 3.5em;
    }
    
    .becomeAVendorButton-enter-done {
        height: 3.5em;
    }
    
    .becomeAVendorButton-exit {
        opacity: 1;
        height: 3.5em;
        margin-top: 2em;
    }
    
    .becomeAVendorButton-exit-active {
        opacity: 0;
        margin-top: 0;
        border: none;
        transition: opacity 500ms;
    }
    
    .becomeAVendorButton-exit-done {
        opacity: 0;
        margin-top: 0;
        cursor: default;
    }
    // END - Become A Vendor Button Animation
    
    
    // Vendor Application Animation
    .vendorApplication-enter {
        opacity: 0;
    }
    
    .vendorApplication-enter-active {
        opacity: 1;
        transition: opacity 800ms;
        transition-delay: 800ms;
    }
    
    .vendorApplication-enter-done {
        opacity: 1;
    }
    
    .vendorApplication-exit {
        opacity: 1;
    }
    
    .vendorApplication-exit-active {
        opacity: 0;
        transition: opacity 300ms,;
    }
    
    .vendorApplication-exit-done {
        opacity: 0;
    }
    
    // END - endor Application Animation
}

// Magic parallax mixins

$parallax-perspective : 1 !default;

@mixin parallax(
    $distance    : 0,
    $perspective : $parallax-perspective
    ) {
    transform: translateZ($distance * $perspective * 1px) scale(abs($distance - 1));
    z-index: $distance * 1000;
}

// End of magic parallax mixins

#about {
    overflow: auto;
    overflow-x: hidden;
    perspective: 1 * 1px;
    transform-style: preserve-3d;
    height: 100vh;
    width: 100%;
    // Preserve 3D
    &::-webkit-scrollbar {
        height: 0;
        width: 0;
    }
    
    &::-webkit-scrollbar-thumb {
        height: 0;
        width: 0;
    }
    
    &::-webkit-scrollbar-track {
        height: 0;
        width: 0;
    }
    
    .googleMap {
        height: 400px;
        width: 100%;
        .googleMapWrapper {
            height: unset;
        }

    }
    #parallaxContainer {
        .welcome {
            position: absolute;
            z-index: 1;
            background: white;
            border: 1px solid $lightGray;
            left: 0;
            right: 0;
            @include box-shadow();
            display: flex;
            justify-content: space-around;
            padding: 1em 5%;

            h3 {
                font-family: 'Rancho', cursive;
                font-size: 4em;
                padding-right: 1em;
                margin: 0 .25em 0 0;
                border-right: 2px solid $turquoise;
                width: 25%;
            }
            .bullets {
                border-right: 2px solid $purple;
                text-align: left;
                line-height: 2em;
                padding-right: 1em;
                margin-right: 1em;
                ul {
                    padding-left: 1em;
                }
            }
            .address {
                text-align: left;
                .timedate {
                    border-bottom: 1px solid $yellow;
                }
            }
        }

        .origins h4,
        .mission h4,
        .schedule h4,
        .tickets h4,
        .map h4 {
            font-family: 'Rancho', cursive;
            font-size: 2em;
            margin: .75em 0;
        }

        .origins {
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            top: 600px;
            background: white;
            border: 1px solid $lightGray;
            @include box-shadow();
            text-align: left;
            padding: 1em 2em;
            margin: 0 10%;
            line-height: 1.7em;
        }

        .mission {
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            top: 1400px;
            background: white;
            border: 1px solid $lightGray;
            padding: 1em 2em;
            margin: 0 10%;
            line-height: 1.7em;
            text-align: left;
            @include box-shadow();
        }

        .tripleGroup {
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            top: 1900px;
            margin: 0 10%;
            display: flex;
            flex-direction: column;

            .scheduleAndTickets {
                line-height: 1.7em;
                text-align: left;
                display: flex;
                align-items: flex-end;
                
                .schedule {
                    background: white;
                    border: 1px solid $lightGray;
                    padding: 1em 2em;
                    margin-right: 1em;
                    @include box-shadow();
                }
                
                .tickets {
                    background: white;
                    border: 1px solid $lightGray;
                    padding: 1em 2em;
                    margin-left: 1em;
                    @include box-shadow();
                    width: 25%;
                }
            }
            
            .note {
                background: white;
                border: 1px solid $lightGray;
                padding: 1em 2em;
                margin-top: 2em;
                text-align: left;
                @include box-shadow();
                line-height: 1.7em;
            }
        }

        .map {
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            top: 2600px;
            margin: 0 10%;
            background: white;
            border: 1px solid $lightGray;
            padding: 1em 2em;
            @include box-shadow();
        }

            
        // PARALLAX CHILDREN
        .plx:nth-of-type(1) {
            @include parallax(-.4);
            top: 200px;
            left: 200px;
        }
        
        .plx:nth-of-type(2) {
            @include parallax(.2);
            top: 200px;
            left: 500px;
            width: 25%;
        }
        
        .plx:nth-of-type(3) {
            @include parallax(.3);
            top: 400px;
            left: 600px;
            width: 50%;
        }
        
        .plx:nth-of-type(4) {
            @include parallax(.1);
            top: 500px;
            left: 500px;
            width: 15%;
        }
        
        .plx:nth-of-type(5) {
            @include parallax(-2);
            top: 2000px;
            left: 2000px;
            width: 50%;
        }
        
        .plx:nth-of-type(6) {
            @include parallax(.4);
            top: 600px;
            left: 300px;
            width: 75%;
        }
        
        .plx:nth-of-type(7) {
            @include parallax(-1);
            top: 400px;
            left: 1000px;
            width: 25%;
        }
        
        .plx:nth-of-type(8) {
            @include parallax(-.4);
            top: 100px;
            left: 1400px;
            width: 30%;
        }
        
        .plx:nth-of-type(9) {
            @include parallax(.4);
            top: 900px;
            left: 500px;
            width: 50%;
        }
        
        .plx:nth-of-type(10) {
            @include parallax(-1);
            top: 1600px;
            left: 100px;
            width: 15%;
        }

        .plx:nth-of-type(11) {
            @include parallax(.1);
            top: 500px;
            left: 500px;
        }
        
        .plx:nth-of-type(12) {
            @include parallax(-2);
            top: 2000px;
            left: 2000px;
            width: 15%;
        }
        
        .plx:nth-of-type(13) {
            @include parallax(.4);
            top: 600px;
            left: 300px;
            width: 75%;
        }
        
        .plx:nth-of-type(14) {
            @include parallax(-1);
            top: 400px;
            left: 1000px;
            width: 50%;
        }

        .plx:nth-of-type(15) {
            @include parallax(-.2);
            top: 2000px;
            left: 2000px;
            width: 25%;
        }
    }
    margin: auto;

    > * {
        position: absolute;
    }

    h2 {
        font-size: 3em;
        @include parallax(.2);
    }
}