.App {
  text-align: center;
  min-height: calc(100vh - 230px)
}

// COLORS
$orange: #d35400;
$lightGray: #eaeaea;
$mediumGrey: #c5c5c5;
$turquoise: #1abc9c;
$purple: #8e44ad;
$yellow: #f1c40f;

@mixin customCheckbox($borderRadius, $color) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #fff;
    color: #666;
    height: 30px;
    width: 30px;
    border: 1px solid $mediumGrey;
    border-radius: $borderRadius;
    cursor: pointer;     
    margin-right: 7px;
    outline: none;

    &:checked {
        background-color: $color;
        transition: 150ms background-color ease-in;

        &:before {
            position: absolute;
            font-size: 1.5em;
            left: 10px;
            top: 2px;
            content: '\02143';
            transform: rotate(40deg);
            color: white;
        }
    }

    &:hover {
        background-color: lighten($color, 10%);
        cursor: pointer;
    }
}

.successContent {
    p {
        font-size: 1.25em;
        display: block;
        font-weight: 600;
    }
}
/* HEADER */

header {
    margin: 2em;
}

// FOOTER
footer {
    height: 200px;
    text-align: center;
    background-color: $lightGray;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
        font-size: 2em !important;
        margin: 0 .25em;
        color: $orange;
        transition: 200ms all ease;

        &:hover {
            color: lighten($orange, 10%);
            cursor: pointer;
            -ms-transform: translate(0, -5px); /* IE 9 */
            -webkit-transform: translate(0, -5px); /* Safari */
            transform: translate(0, -5px);
        }
    }

    p {
        margin-top: 2em;
    }
}

/* NAV */
nav {
    margin: 1em;
    a {
        text-decoration: none;
        padding: 1em;
        text-transform: uppercase;
        color: black;
        transition: 150ms background-color ease-in;

        &:hover {
            background-color: $lightGray;
        }
    }
}

/* PAGES */
/* -- VENDORS */
#vendors {
    margin: 0 10%;

    table {
        border-collapse: collapse;
        border: 1px solid $lightGray;
        width: 100%;

        col.active {
            border: 1px solid black;
        }

        tr {
            &:nth-child(even) {
                background-color: $lightGray;
            }

            $activeColumnBorder: 3px solid grey;

            th.early.active,
            th.regular.active,
            th.late.active {
                border-top: $activeColumnBorder;
                border-right: $activeColumnBorder;
                border-left: $activeColumnBorder;
            }

            td.early.active,
            td.regular.active,
            td.late.active {
                border-right: $activeColumnBorder;
                border-left: $activeColumnBorder;
            }

            &:last-child {
                td.early.active,
                td.regular.active,
                td.late.active {
                    border-bottom: $activeColumnBorder;
                }
            }

           th, td {
                padding: .5em;
                text-align: left;
            }

            th {
                background-color: $turquoise;
                &.vendorType {
                    background-color: darken($turquoise, 5%);
                }
            }
        }
        
    }

    .becomeAVendor {
        background-color: $purple;
        color: white;
        text-transform: uppercase;
        border: none;
        padding: 1em 3em;
        font-size: 1em;
        transition: 150ms background-color ease-in;
        margin-top: 2em;

        &:hover {
            background-color: darken($purple, 10%);
            cursor: pointer;
        }
    }

    form {
        margin-top: 3em;
        padding: 2em;
        text-align: left;
        -webkit-box-shadow: 3px 2px 10px -1px rgba(158,158,158,0.76);
        -moz-box-shadow: 3px 2px 10px -1px rgba(158,158,158,0.76);
        box-shadow: 3px 2px 10px -1px rgba(158,158,158,0.76);
        border: 1px solid $lightGray;

        h3 {
            text-align: center;
            margin-bottom: 2em;
        }

        hr {
            border: none;
            border-top: solid 1px $lightGray;
        }

        label {
            display: block;
            margin: 1em 0;
        }

        
        .vendorType {
            p {
                font-weight: 600;
            }
            input {
                margin-right: 1em;
                @include customCheckbox(50px, $orange);
            }
            label {
                display: flex;
                align-items: center;
                margin: .5em 0;
                padding: .5em;
                
                &:hover {
                    cursor: pointer;
                }
            }
        }
        
        .contactInformation {
            margin-top: 2em;

            p {
                font-weight: 600;
            }
            
            input {
                padding: 1em;
                display: block;
                width: 100%;
                margin-top: .5em;
                box-sizing: border-box;
                
                &:focus {
                    outline: 2px solid $purple;
                }
            }
            label span {
                text-transform: uppercase;
                font-size: 65%;
            }
        }
        
        .termsAndConditions {
            margin-top: 2em;
            
            input{
                @include customCheckbox(0px, $yellow);
                margin-right: 1em;
            }
            label {
                display: flex;
                align-items: center;
                
                &:hover {
                    cursor: pointer;
                }
            }
        }
        
        
    }
    
    button {
        padding: 1em;
        text-transform: uppercase;
        background-color: $turquoise;
        border: none;
        color: white;
        font-size: 1em;
        margin: 0 auto;
        margin-top: 2em;
        font-weight: bold;
        transition: 150ms background-color ease-in;

        &:not(.disabled):hover {
            background-color: darken($turquoise, 10%);
            cursor: pointer;
        }

        &.disabled {
            background-color: $lightGray;
        }
    }

    // Become A Vendor Button Animation
    .becomeAVendorButton-enter {
        opacity: 1;
        height: 3.5em;
    }
    
    .becomeAVendorButton-enter-active {
        transition: opacity 500ms;
        height: 3.5em;
    }
    
    .becomeAVendorButton-enter-done {
        height: 3.5em;
    }
    
    .becomeAVendorButton-exit {
        opacity: 1;
        height: 3.5em;
        margin-top: 2em;
    }
    
    .becomeAVendorButton-exit-active {
        opacity: 0;
        margin-top: 0;
        border: none;
        transition: opacity 500ms;
    }
    
    .becomeAVendorButton-exit-done {
        opacity: 0;
        margin-top: 0;
        cursor: default;
    }
    // END - Become A Vendor Button Animation


    // Vendor Application Animation
    .vendorApplication-enter {
        opacity: 0;
    }
    
    .vendorApplication-enter-active {
        opacity: 1;
        transition: opacity 800ms;
        transition-delay: 800ms;
    }
    
    .vendorApplication-enter-done {
        opacity: 1;
    }
    
    .vendorApplication-exit {
        opacity: 1;
    }
    
    .vendorApplication-exit-active {
        opacity: 0;
        transition: opacity 300ms,;
    }
    
    .vendorApplication-exit-done {
        opacity: 0;
    }

    // END - endor Application Animation
}